:root{
	--borders-color: #EAECEE;
}

*{
	font-family: 'Anton', sans-serif;
}

.header{
	width: 100%;
	height: 9vh;
	border: 1px solid var(--borders-color);
}

.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.menu-icon{
	height: 1vw;
	width: 1.5vw;
}
