:root{
	--borders-color: #EAECEE;
	--borders-dark-color: #D5D8DC;
	--height-icons: 3vw;
	--width-icons: 3vw;
	--search-text-color: hsl(0, 0%, 6.7%);
	--hover-background: rgba(0, 0, 0, 0.05);
	--active-background: #ccc;
	--height-circles: 3vw;
	--width-circles: 3vw;
}

*{
	font-family: 'Roboto', sans-serif;
}

.cursor-pointer{
	cursor: pointer;
}

.cursor-pointer:active{
	background: var(--active-background);
}

.circles{
	height: var(--height-circles);
	width: var(--width-circles);
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-hidden{
	/* display: inline-block; */
}

.desktop-hidden, 
.hide{
	display: none;
}

.scroll-y{
	overflow-y: scroll;
}




/*MAIN STRUCTURE*/
body{
	height: 100vh;
}

.container{
	background: transparent;
}

.header{
	/*
	position: fixed = el elemento no permanecera en el flujo natural de la pagina. se posicionara a si mismo de 
	acuerdo al viewport. Debido a que está posicionado, actuará como un punto de anclaje para el siguiente elemento 
	absolutamente posicionado.
	
	z-index = deffine el orden de los elementos en el eje Z, solo funciona en elementos posicionados (cualquiera q 
	no sea stactic). Si el valor es positivo el elemento es movido en frente de los demas elementos, de lo contrario 
	es movido detras del resto de elementos
*/
	position: fixed;
	width: 100%;
	height: 9vh;
	border: 1px solid var(--borders-color);
	z-index: 1;
	transform: translateY(0);
	background: white;
}

.nav-bar{
	height: 9vh;
	padding: 0 1.7vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.navbar-left{
	width: 12vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.navbar-left a{
	text-decoration: none;
	color: #030303;
}

.icon-menu{
	/*
	box-sizing = define como se calcula el ancho y alto de un elemento, ya sea q incluyan o no el padding y los 
	borders. 
	border-box = El ancho y alto del elemento aplica a todas las partes del elemento: el contenido, el padding y 
	los borders
	
	Display = establece como se va a visualizar el elemento. 
	inline-block = comparte las propiedades inline y block del elemento. inline xq el elemento se comporta como 
	texto simple y se inserta en un bbloqque de texto; block porque se le puede aplicar un alto y un ancho.
	
	position: relative = el elemento permanecera en el ffluo natural de la pagina. Actuara como un punto de anclaje 
	para los bloques absolutamente posicionados.
	*/
	/*height: 3vw;
	width: 3vw;*/
	height: 1.5vw;
	width: 1.5vw;
}

.youtube-logo{
	width: 7.7vw;
	height: 9vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.youtube-logo p{
	font-family: 'Anton', sans-serif;
	font-size: 21px;
}

.navbar-center{
	/*
	flex = es una propiedad resumida que indica la capacidad de un elemento flexible para alterar sus dimensiones y 
	llenar el espacio disponible. Los elementos flexibles pueden ser estirados para utilizar el espacio disponible 
	proporcional a su factor de crecimiento flexible o su factor de contracción flexible para evitar desbordamiento.
	flex: flex-grow flex-shrin flex-basis;
	
	flex-grow = define la habilidad de crecer para un elemento flex, si es necesario
	flex-shhrink = define la habilidad de un elemento flex de encongerse, si es necesario
	flex-basis = Esto define el tamaño predeterminado de un elemento antes de que se distribuya el espacio restante.
	*/
	flex: 0 1 54vw;
	min-width: 0px;
	height: 9vh;
	margin-left: 3vw;
}

.search-bar{
	height: 9vh;
	/*margin: 0 0 0 3.5vw;*/
    padding: 0 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
    flex-basis: 1e-9px;
}

.search-box{
	height: 5vh;
	text-align: center;
	border: 1px solid var(--borders-dark-color);
	border-right: none;
	border-radius: 2px 0 0 2px;
	box-shadow: inset 0 1px 2px #eee;
	color: black;
	padding: 2px 6px;
	margin-left: 22px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}

.icon-search{
	height: 1.5vw;
	width: 1.5vw;
	/*transform: translateY(4px);*/
	margin-top: 1vh;
}

.hidden-icon{
	display: none;
	position: absolute;
}

.icon-content{
	left: 0;
	padding: 0 10px;
	color: #030303;
}

.input-search{
	box-sizing: border-box;
	padding: 1px 0;
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	line-height: 24px;
	border: none;
	box-shadow: none;
	color: var(--search-text-color);
}

.icon-clear{
	height: 1vw;
	width: 1vw;
	/*transform: translateY(7px);*/
	margin-top: 1.5vh;
}

.button-search{
	height: 3vw;
	border: 1px solid #d3d3d3;
	background-color: #f8f8f8;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.icon-search-2{
	height: 1.8vw;
	width: 3vw;
}

.add-voice-container{	
	background: #f9f9f9;
	margin-left: 10px;
}

.icon-microphone{
	height: 3vw;
	width: 1.2vw;
}

.navbar-right{
	width: 16vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.icon-video{
	color: #030303;
	/* margin-right: 10px; */
}

.notifications{
	position: relative;
	background: white;
	align-items: center;
	/* margin-left: 10px; */
}

.icon-notifications{
	height: 1.8vw;
	width: 1.8vw;
	margin-top: 0px;
}

.notifications-number{
/* .notifications div{ */
	height: 1.2vw;
	width: 1.6vw;
	background: #c00;
	border-radius: 25px;
	position: absolute;
	top: 6px;
	right: 0px;
	color: white;
	font-size: 2vh;
	font-weight: 100;
}

.notifications-number span{
	margin-left: 2px;
}

.picture-user{
	background: white;
	overflow: hidden;
	/* margin-left: 10px; */
}

.user-profile{
	/* width: 3vw;
	height: 3vw; */
	width: 100%;
	height: 100%;
}

.lateral-menu-bar{
	height: 91vh;
	top: 4vw;
	font-size: 1vw;
	font-weight: 300;
	position: fixed;
	/*transition-duration: 0ms;
    touch-action: pan-y;*/
	
}

.lateral-menu-expanded{
	width: 17vw;
}

.lateral-menu-not-expanded{
	width: 6vw;
}
	
.first-section, 
.second-section, 
.third-section, 
.fourth-section,
.fifth-section, 
.sixth-section{
	border-bottom: 1px solid var(--borders-color);
}

.lateral-menu{
	padding-left: 2vw;
	list-style-type: none;
	
}

.lateral-menu li{
	display: flex;
	align-items: center;
	gap: 1vw;
}

.flex-direction-row{
	flex-direction: row;
}

.flex-direction-column{
	flex-direction: column;
}

.lateral-menu li img{
	justify-content: flex-start;
}

.lateral-menu li:hover{
	background: var(--hover-background);
}

.lateral-menu li:active{
	background: var(--active-background);
	font-weight: 400;
}

.lateral-menu-icons{
	height: 1.5vw;
    width: 1.5vw;	
}

.lateral-menu h2{
	color: #606060;
	font-size: 1vw;
	font-weight: 400;
}

.arrow-down-icon{
	transform: rotate(90deg);
}

.first-section li:nth-child(1){
	background: var(--active-background);
	font-weight: 400;
}

.visibility-option-menu{
	visibility: visible;
}

.not-visibility-option-menu{
	visibility: hidden;
}



@media screen and (max-width: 1366px) {
	.button-search{
		height: 2.7vw;
	}
}
	
@media screen and (max-width: 1024px) {
	/* iPad pro 1024x1366 41% */
	
	/*.container{
		height: 100vh;
	}*/

	.header{
		height: 8vh;
	}

	.mobile-hidden{
		display: none;
	}

	.desktop-hidden{
		display: inline-block;
	}

	.nav-bar{
		height: 8vh;
		padding: 0 5vw;
	}

	.youtube-logo {
		height: 8vh;
	}

	.youtube-logo img{
		/*height: 28px;
		width: 28px;*/
		height: 6vw;
		width: 6vw;
	}

	.youtube-logo p{
		/*font-size: 19px;*/
		font-size: 4.5vw;
		font-weight: 100;
		margin-left: 1vw;
	}
	
	.circles{
		/*height: 9vw;
		width: 9vw;*/
		height: 8vw;
		width: 8vw;
	}

	.mobile-navbar{
		width: 157vw;
		background: #f1f1f1;
	}

	.navbar-right{
		width: 20vw;
	}

	.mobile-button-search{
		margin-right: 2vw;
	}

	.mobile-button-search img{
		height: 100%;
		width: 100%;
		margin-top: 0px;
	}

	.search-box {
		border: none;
		margin-left: 0px;
	}

	.icon-content{
		padding: 0 3px;
	}

	.icon-arrow-back{
		height: 100%;
		width: 90%;
		margin-top: 0vh;
	}

	.input-search-mobile{
		width: 100%;
		font-size: 3vw;
		border: none;
		border-bottom: 1px solid #606060;
		background: #f1f1f1;
	}

	.icon-search{
		height: 100%;
		width: 100%;
	}

	.footer-mobile{
		height: 8vh;
		width: 100%;
		z-index: 1;
		position: absolute;
		bottom: 0px;
		border-top: 1px solid var(--borders-color);
	}
	
	.navbar-footer{
		height: 8vh;
		width: 70%;
		padding: 0 15vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.icons-footer{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.icons-footer img{
		height: 5vw;
		width: 5vw;
	}
	
	.label-icon{
		font-size: 2.9vw;
		font-weight: 100;
	}
	
	.icon-shorts{
		height: 5vw;
		width: 5vw;
		top: 2vw;
	}
	
	.position-label{
		position: absolute;
		bottom: 1vw;
	}
}

@media screen and (max-width: 768px) {
	/* ipad 768x1024 50% */
	.button-search{
		/* height: 3.5vw; */
	}
}